/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #ffffff;
	background-color: #9b9b9b; 
	text-align: center;
	line-height: 1.6em;
	margin: 0; 
	padding: 0;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Bungee Shade", sans-serif;
	font-weight: 600;
}

h3 {
	margin-top: 20px; 
	font-size: 24px; 
	color: #333;
}

hr {
	margin: 25px auto; 
	border: none;
	border-top: 1px solid #ddd; 
	width: 50%; 
}

.footer {
	margin-top: 40px;
	padding: 20px 0;
	background-color: #3a3333; 
	border-radius: 15rem;
	width: 60%;
	margin: 0 2rem;
}

code {
	font-family: 'Roboto Mono', monospace; 
	padding: 4px 8px;
	color: #333; 
	background-color: #f0f0f0; 
	border-radius: 4px; 
	white-space: nowrap;
	text-wrap: wrap;
	line-height: 3.5rem;
}

ul {
	list-style-type: none;
	padding-left: 0; 
	margin-top: 0;
}

li {
	margin-bottom: 1em; 
}

a {
	color: #fff ; 
	text-decoration: none; 	
	transition: color 0.3s ease;
	padding: 0.5rem 2rem;
	background: #6c6565;
	margin: 0;
	border-radius: 10rem;

}

a:hover {
	color: #c0dfff; 
}

.logo{
	width: 100px;
	height: 100px;
	margin: 0 auto;
}
pre > code {
	padding: 1rem;
}